NUXT_DATABASE_DRIVER=sqlite|mysql
NUXT_DATABASE_PATH=./data/angel-dreamer.sqlite
# Production : mysql://utilisateur:mot_de_passe@hote:3306/base
NUXT_MYSQL_URL=
NUXT_JWT_SECRET=
NUXT_STRIPE_SECRET_KEY=
NUXT_STRIPE_WEBHOOK_SECRET=
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NUXT_PAYPAL_CLIENT_SECRET=
NUXT_PUBLIC_PAYPAL_CLIENT_ID=
NUXT_ADMIN_EMAIL=
NUXT_SMTP_HOST=
NUXT_SMTP_PORT=587
NUXT_SMTP_SECURE=false
NUXT_SMTP_USER=
NUXT_SMTP_PASSWORD=
NUXT_EMAIL_FROM=Angel Dreamer <connexion@votre-domaine.fr>
NUXT_PUBLIC_SITE_URL=
